extends ../layout

prepend title
  | Our Projects - Artisan Honour

block content
  .scroll-wrapper.artisan_honour
    section.leader.span9
      h2.span3 Project Artisan Honour
        small Under Project Artisan Honor, Protsahan, adopts several artisan families and provides them market access.

    section.content.span4
      :markdown
        Our country’s artisan is the bridge we have in place to transport the heritage and craft from an
        extremely skilled pair of hands to the market place where it fails to reach in its truest value and
        worth. These extremely skilled artisans are languishing and dying of hunger at many corners of India.
        Under Project Artisan Honor, Protsahan, adopts several artisan families, buys their produce at fair
        trade prices and provides them a market access.

        For us at Protsahan, a brick-layer, a copper-smith, a ceramist, a glassblower or a weaver is as
        talented as the next Mr. Joseph or Tony working for a Fortune 500 organisation. That the
        worth of the two in monetary terms is highly disparate is an unfortunate turn of events our economy
        has brought us to. Protsahan believes in an eco-logical balance – read ‘economically logical balance’
        where we bring the two occupational clusters together and fill the gaps.

        We have mobilised interest in the Generation-Ipad by organising Artisan festivals at upscale work-
        places and universities in Gurgaon, Delhi, Mumbai, Chandigarh, Bangalore to showcase and sell
        handicrafts on a regular basis. This is all done under the brand ‘Protsahan’ to give recognition to our
        umbrella of creativity which is all-encompassing. We liaise with a host of artisans from across the
        country and play with the idea of design along with their products to cater to the needs of urban
        civilisation.

        Not only has Protsahan been able to help out the artisans in need with this Project, but also been
        able to instil dignity and self-sustainability in our organisation. 50% of revenues generated in this
        project are used to support languishing artisans and the remaining 50% are utilised in sustenance of
        our schools/other projects. Our vision is to encourage art, craft and heritage-artefact products reach
        the urban masses to serve as a two-pronged strategy by nourishing the cause of other projects.
