extends ../layout

prepend title
  | Our Projects - Educare

block content
  .scroll-wrapper.educare
    section.leader.span9
      h2.span3 Project Educare
        small Education with care, with empathy, with creativity, in its truest sense.

    section.content.span4
      :markdown
        By virtue of its creation, the word ‘Educare’ is a life-choice we at Protsahan have coined and believe
        in. Education with care, with empathy, with creativity, in its truest sense. Stories that spell out
        consequences of suffering, mischance and ignorance have plagued our society without enough being
        done about them. Project Educare is devoted towards the cause of street children across the world
        starting India. We at Protsahan, encourage to embrace, to endure, to educate, and do it with care.
        Project Educare, started in 2010, is a confluence of creativity meets technology meets action. We are
        devising a specific open sourced [to be open to be used by anyone under creative commons license]
        an ART BASED CURRICULUM which utilises the combination of colors [ART] and technology [ICT].

        The hallmark of project Educare is the fact that it assimilates and includes all backgrounds of the
        society under one umbrella including slum kids, street children, sexually abused and drug abused
        kids and many more whose lives cross over the paths. Given the backgrounds of children, it is
        imperative for one to understand that not all of them are regulars at school and know the alphabet.
        Protsahan approaches them through their style of learning, most of which involves depiction and
        storytelling with colours and technology interfaces.

        Our volunteers, usually university students and corporate employees, volunteer regularly and keep
        track of the progress of the children who have been classified into peer groups to maximize learning.
        This also helps the new volunteers/visitors to identify right away what approach to use for a kids
        dealing with different fears/abuse.

        ### Vulnerability of Street Children [Need for Project Educare]

        Street Children that Protsahan reaches out to: Sexually abused and drug abused, at risk
        children on streets and in most exploited urban slums.

        A lot of programmes are run for children in slightly better off slums, but not much has been
        done for street children being trafficked and the ones who come under the influence of
        drugs and other major forms of abuse. Most children Protsahan encounters on an everyday
        basis, are orphans, homeless, performing child labour or trafficked. These are the very
        children who need maximum care and guidance, but sadly not much has been done.

        This is where Protsahan steps in. We provide creative and very innovative platforms like street
        plays, theatre, dance, photography, etc. for them to develop full flegedly into fearless and
        confident young ones and chart out a life trajectory for themselves. We partner with several
        organizations for rehabilitation etc. Currently we are working with about 300 children at
        Uttam Nagar area [in New Delhi], but wish to reach out to about a 1000 children and more
        with this project this year.

        ### Numbers we plan to reach out to

        Currently we have about 300 children on rolls and regularly attending our classes. We aim
        to reach out to atleast a 1000 in the next year. We have 4 full time staff members, the
        numbers will be about 7 by the end of year working on a thousand children.
