extends ../layout

prepend title
  | Our Projects - Stree

block content
  .scroll-wrapper.stree
    section.leader.span9
      h2.span3 Project Stree
        small ‘Stree’ in Sanskrit means ‘woman’

    section.content.span4
      :markdown
        We at Protsahan combine traditional and modern ideas to spread awareness amongst women of
        lesser privileged backgrounds by organising design oriented workshops to render survival skills.
        Some of our major projects include and are not limited to production of Sanitary Napkins, terracota
        jewellery, cushion covers, designer earthen-lamps, etc. We use simplicity of 'design', 'technology'
        and 'art' to churn out simple usable products at the level of urban slums.

        Our aim is to free the youth and women from the shackles of compulsively forced occupations
        such as sexual abuse, human-trafficking, child-labour etc. We believe that a happy and empowered
        woman changes the dynamics of her family, thereby adding to the happiness quotient of her
        household and the country. Our vision is to turn the tables on the oft-used nomenclature ‘slumdogs’
        to ‘slumgods’ and prove to the society that it’s not farcical to trust an uneducated and overlooked
        woman to bring about a dawn of a revolutionary perspective. We hope to spread the confidence and
        smiles in manifolds by touching the lives of as many slums as possible across Delhi and eventually
        country-wide.
