extends layout

append head
  != js('bootstrap-transition')
  != js('bootstrap-carousel')
  :coffeescript
    $ ->
      $('.carousel').carousel()

block header
  .container
    .page-header
      .row
        h1.span12
          img(src='/images/banner-logo.png')

block content
  .container
    .row
      .span8
        #banner-carousel.carousel.slide.dissolve(data-interval="2000")
          .carousel-inner
            .item.active
              img(src='http://placehold.it/770x433/FF0000')
              .carousel-caption
                h4 What is lorem ipsum
                  a.btn.pull-right(href='#') Do Now
                p.
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                  the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                  of type and scrambled it to make a type specimen book.
            .item
              img(src='http://placehold.it/770x433/FFFF00')
              .carousel-caption
                h4 What is lorem ipsum(cont.)
                  a.btn.pull-right(href='#') Do Now
                p.
                  It has survived not only five centuries,
                  but also the leap into electronic typesetting, remaining essentially unchanged. It was
                  popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                  and more recently with desktop publishing software like Aldus PageMaker including versions of
                  Lorem Ipsum.
            .item
              img(src='http://placehold.it/770x433/00FF00')
              .carousel-caption
                h4 Why do we use it
                  a.btn.pull-right(href='#') Use Now
                p.
                  It is a long established fact that a reader will be distracted by the readable content of a page
                  when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed to using 'Content here, content here', making it look like
                  readable English.

            .item
              img(src='http://placehold.it/770x433/00FFFF')
              .carousel-caption
                h4 Why do we use it(cont.)
                  a.btn.pull-right(href='#') Use Now
                p.
                  Many desktop publishing packages and web page editors now use Lorem Ipsum as
                  their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                  their infancy. Various versions have evolved over the years, sometimes by accident, sometimes
                  on purpose (injected humour and the like).
            .item
              img(src='http://placehold.it/770x433/0000FF')
              .carousel-caption
                h4 Lorem
                  a.btn.pull-right(href='#') Use Now
                p.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas hendrerit elementum.
                  Ut a nunc sit amet erat aliquam dictum. Pellentesque magna elit, tempor sed rutrum a, dapibus
                  vitae risus. Cras eleifend, tortor in interdum laoreet, nibh nulla faucibus neque, non dapibus
                  enim magna nec ipsum.

            .item
              img(src='http://placehold.it/770x433/FF00FF')
              .carousel-caption
                h4 Ipsum
                  a.btn.pull-right(href='#') Use Now
                p.
                  Morbi et nisi ut metus viverra convallis. Phasellus malesuada felis et erat vestibulum tincidunt.
                  Nunc urna mauris, commodo at dignissim ornare, placerat id sapien. Etiam arcu metus, sagittis in
                  fermentum ac, venenatis a quam. Ut a lorem ac nulla tempus lobortis at id ligula.

          a.carousel-control.left(href="#banner-carousel", data-slide="prev") &lsaquo;
          a.carousel-control.right(href="#banner-carousel", data-slide="next") &rsaquo;
