doctype 5
html
  head
    title= title
    != css('bootstrap')
    != css('responsive')
    != css('app')

  body
    header
      .page-header
        h1 Protsahan
          small Empowering women
    #body.container
      block content
    footer
      p.pull-center Copyright Protsahan india foundation; built by &nbsp;
        a(href: 'http://loonyb.in') loonyb.in
