doctype 5
html
  head
    title
      block title
        | Protsahan India Foundation
    block head
      != css('bootstrap')
      != css('responsive')
      != css('app')
      != js('jquery-1.8.1.min')

  body
    header
      block header
        .page-header
          h1 Protsahan
            small Empowering women
    #body.container
      block content
    footer
      p.pull-center Copyright Protsahan india foundation; built by &nbsp;
        a(href: 'http://loonyb.in') loonyb.in
