extends ../layout

prepend title
  | About us - Organizational Profile

block content
  .scroll-wrapper.organizational_profile
    section.leader.span9
      h2.span3 Organizational Profile
        small ‘Protsahan’ is a Hindi word which means ‘Encouragement’.

    section.content.span4
      :markdown
        ### Who are we?

        Protsahan India Foundation (hereafter ‘Protsahan’) is a secular, not for profit
        organization registered under the Government of India as per The Indian Trusts Act of 1882. We got
        registered on May 12, 2010.

        ‘Protsahan’ is a Hindi word which means ‘Encouragement’. Its a youth led organization which works
        with street children and marginalized women in India. Protsahan’s journey started in 2010, by
        chance, when Founder-Director Ms. Sonal Kapoor was working on an assignment in one of the slums
        in Delhi. That’s where she met a woman pregnant with her seventh child whom she was ready to
        strangle if it was a girl again. She also sent her 8 year old to a brothel to feed the rest 5 daughters.
        This shocked the Founder and fuelled her to organize a small classroom for the girl child in that
        slum. 23 year old Sonal, quit her corporate job and started creatively educating seven little girls
        from slums who were being sexually/domestically abused. This later led to what Protsahan is now.
        A dynamic NGO which works towards providing creative education to at-risk street & slum children
        and helping women earn a graceful livelihood; all this through extensive youth involvement and
        volunteering. Gradually, youngsters across the country started supporting her and Protsahan was
        born. Today Protsahan is working for hundreds of children and women and has mobilized more than
        12,000 young Indian living across borders for the cause that it stands for.

        ### Mission and Vision

        **Our Mission** is to encourage education and social development creatively through Art and
        Technology. The foundation works under two strategic heads:

        - Creative Education
        - Skill Development

        **Our Vision** is of a world where every child will be educated well not on the basis of blind rote
        education, but creatively, so that she/he finds true and uninhibited self expression; where every
        woman will contribute to the happiness index of her household and community at large by being
        empowered herself in every way.

        ### What do we do?

        We work at the grass root level in urban slums and on streets in India empowering
        marginalized children and women from lowest income backgrounds. We aim to create creative
        platforms of learning and self-expression. Empowerment is by the means of creative education and
        skills training. We have also started programs for the marginalized slum women and artisans where
        we train them as design micro-entrepreneurs into making handicrafts, sanitary napkins etc. and are
        in process for starting night schools for them.

        ### Where do we work?

        We are based out of urban slums in west Delhi in Uttam Nagar and Vikaspuri at
        New Delhi.

        ### What difference have we made since 2010?

        We have touched lives of over a thousand children
        directly from streets and slums, who were subject to sexual and drug abuse. Currently we have
        about 350 children under Project Educare, whom we teach on a daily basis. We have worked with
        scores of women under Project Stree and taught them how to make & use cloth made sanitary
        napkins. We have carried out health and nutrition based workshops for the mother & street child
        under Project Stree.
