extends ../layout

prepend title
  | About us - Our Team

block content
  .scroll-wrapper.our_team
    section.leader.span9
      h2.span3 Our Team
        small for each project undertaken

    section.content.span4
      :markdown
        **Ms Sonal Kapoor, Founder CEO:** A Microbiologist MBA whose strength lies in grassroot community
        initiatives empowering her country's children and women through creativity and design based
        approaches. She has been influential in building strong youth leadership platforms by promoting
        the spirit of volunteering throughout the country. She started Protsahan at 23 when she saw a
        young mother sending her 8 year old daughter to a brothel to feed the rest of her five daughters.

        *..... to add more*

        **Ms. Shruthi Komandur, COO and Chapter Head - Singapore:** An IIT-Madras alumni, she has worked
        at Oil and Gas, Norway, ITC and Schlumberger as a mechanical engineer. She has been crucial in
        building the structure at Protsahan at its grassroot initiatives with the Founder.

        *..... to add more*

        **Ms. Latvia Lamba, Chief Project Coordinator**: Had worked as a volunteer with Protsahan for over 7
        months religiously. She had been tested in the waters of Protsahan and was ready to take up a full
        time position there.

        *..... to add more*

        **Mr. Antony Davis, Chief: Communications & Liaisons (India)** A young dynamic changemaker from
        St. Stephens college, Delhi who

        *..... to add more*

        **Ms. Sadhna Thakur, Teacher and Community Changemaker,** was one of the first working staff
        Protsahan employed full-time. She is the woman who has led and helped found Protsahan along
        with the Founder.

        *..... to add more*

        Protsahan also has a Mentorship Team or the ‘Steering Group’ which consists of
        eminent personalities from the best and successful for profit and non-profit organizations. Our
        core team of 15 comprise young change makers from some of the most prestigious colleges and
        corporate organizations across the world.
