extends ../layout

prepend title
  | About us - Our Rationale

block content
  .scroll-wrapper.our_rationale
    section.leader.span9
      h2.span3 Our Rationale
        small for each project undertaken

    section.content.span4
      :markdown
        The ASER (Annual Status of Education Report) 2011, reports two major trends in the field of India’s
        education.

        a. Private school enrolment has been increasing in India.
        b. Learning levels are extremely poor and these levels have been decreasing in government funded schools.

        One of the other findings in the report states that 90% of the children in India are enrolled in
        schools but their attendance is fast declining. The government of India had passed The RTE (Right
        to Education) 2009 Act, which ensures free and compulsory education to all the children in the age
        group of 6-14 years. The Indian Government also hiked the budget for education by 24% in 2011.
        However, this does not take into account the level of learning amongst the children. A framework
        which maps the basic learning and retention levels of children is missing. Merely making the
        children attend schools does not guarantee the fact that they are learning and retaining concepts
        being taught at school. The taught methods and mediums also have a huge impact on the learning
        levels of children. The teaching methods at government schools are ancient and non-creative. They
        do not give emphasis to experiential learning and ICT based learning methods. This is broadly due
        to the facts that teachers are not trained for this purpose and the infrastructure in most of the
        government schools is in dismal condition.

        **This is where Protsahan steps in and educates the children creatively by extensive use of Art &
        ICT methods and encourages them to pursue further education under Project Educare.**

        The ‘Report on Slum Statistics/Census’, commissioned by the Ministry of Housing and Urban
        Poverty Alleviation, Govt. of India (2011), defines a ‘Slum’ as:

        > A Slum is a compact settlement of at least 20 households with a collection of poorly built
        > tenements, mostly of temporary nature, crowded together usually with inadequate sanitary and
        > drinking water facilities in unhygienic conditions.”

        The report states that rapid urbanization of major cities of India is causing extra pressure on
        the resources of the cities which lead to negative consequences such as slum and squatter
        settlements, poverty, unemployment and social unrest to name a few. An estimated 25% of the
        urban population in India lives on less than $2/day. The most badly-affected are the women in this
        segment of population. Gender-based violence, exploitation, no dignified source of income, no role
        in decision making in the family etc. all add to a woman’s misery in the slums.

        **This is where Protsahan steps in with its Project Stree and empowers the women in slums
        by providing access to art and design based vocational courses.** Protsahan promotes micro-
        entrepreneurship which helps the women become empowered as well as helps itself towards
        becoming self-sustainable.

        ** Project Artisan Honor makes the organization partly self sustainable and
        provides 'encouragement' [Protsahan] to the languishing artisan families as well.**
