extends ../layout

prepend title
  | About us - Recognition Received

block content
  .scroll-wrapper.recognition_received
    section.leader.span9
      h2.span3 Recognition Received
        small one of the best 8 NGOs in the country

    section.content.span4
      :markdown
        Our work is recognized by The World Bank, National Skills Development Corporation,
        Confederation of Indian Industries [nominated for CII Woman Exemplar Award 2012], Australia-
        India Youth Dialog and Apeejay Surrendra Group [awarded one of the best 8 NGOs in the country
        supporting the spirit of volunteering in India, by Hon'ble Minister Shri Salman Khursheed].

        PVR Nest [CSR wing of PVR Cinemas] currently carries out its Childscapes Project with Protsahan
        India Foundation [under Project Educare] at Vikaspuri, Delhi.

        Several organizations, namely, Airtel, Larsen & Toubro, Infosys, Hindustan Times, KPMG,
        Accenture, Ad Astra, Mudra Communications, TCS, Panasonic etc. have had corporate fundraiser
        exhibitions of our products and employee engagement programs with us. We have been
        nominated for Samsung Social Innovation Honors 2011 and NASSCOM Social Honors 2012. We
        have been invited at several TEDx conferences, Delhi Technological University, Jamia Millia Islamia,
        Delhi University, IIMs and IITs and have very high youth involvement in all our projects. We were
        the official cause of Twitter sponsored 'Twestival' in 2011.
