extends ../layout

prepend title
  | About us - Strategic Focus

block content
  .scroll-wrapper.strategic_focus
    section.leader.span9
      h2.span3 Strategic Focus
        small The larger aim is to make the children aware of their surroundings and motivate them to join government schools for further education.

    section.content.span4
      :markdown
        ### Creative Education

        This wing works directly with children living in slums, drug abused and sexually/
        domestically abused girls. These children have no access to proper education and most likely are
        forced into sex trade, begging or work as household helpers. Protsahan adopts these children and
        educates them via creative methods by extensive use of Art and ICT (Information, Communication
        & Technology).The larger aim is to make the children aware of their surroundings and motivate
        them to join government schools for further education. The Project running under this wing is
        called ‘Project Educare’, which is supported by PVR Nest [Childscapes], Tagore International School,
        Delhi and individual donors. The project works with 300 girls rescued from streets and slums facing
        child labour/sexual abuse, 60 drug-abused boys and over 5000 street and slum children [at the level
        of government schools].

        ### Skill Development

        This wing works directly with the women and youth living in urban slums,
        artisans and the families of children studying in Protsahan classrooms. Majorly, the women do not
        have any dignified source of income and are unskilled too. Protsahan aims to develop their skills by
        providing small vocational courses, delivered by the volunteers, such as jewellery making, colouring
        terracotta lamps, sewing & stitching etc. These products are sold under the brand ‘Protsahan’,
        online and offline at various events and exhibitions. A considerable part of the money raised goes
        to the women, which helps them earn and live with dignity. The projects running under this wing
        include ‘Project Artisan Honour’ and ‘Project Stree’ [Stree: Hindi - Woman]. Project Artisan Honour
        works with artisans across states of India.
