.leader {
  background-image: url('http://placehold.it/1170x500');
  font-size: xx-large;
  height: 500px;
  color: #EDEDED;

  position: relative;
  h1 {
    position: absolute;
    bottom: 1em;
    left: 2em;
  }
}
