extends layout

prepend title
  | About us -
block content
  .scroll-wrapper.about_us
    section.leader.span9
      h1.span3 About us
        small &#8220;We wish to give every child on the street / in the slums the right to a happy childhood and a fulfilling future through a creative platform.&#8221;

    section.content.span4
      :markdown
        ## Mission
        We use Elementary Education (Functional Literacy) and Creative Arts as a Medium of Expression to help the
        marginalized sections create opportunities for a better future.

        ## Vision
        Encouraging the Underprivileged through Education & Creativity

        Protsahan India Foundation is a secular, not for profit organization registered under the Government of India
        as per The Indian Trusts Act of 1882. It got registered on May 12, 2010.

        We wish to give every child on the street / in the slums the right to a happy childhood and a fulfilling future
        through a creative platform.

        Its not just another initiative. For this one time, the youth of the country has boldly come out to educate &
        empower the forgotten child who exists on the street and whom we pass everyday at the traffic signal. It may
        only be a classroom, as of now, but it is bringing smiles, knowledge and in addition to numbers and alphabets
        is bringing faith, light and confidence through Encouragement to the country’s children.

        It is called 'Protsahan India Foundation'. The concept was born in west Delhi, India, in a little unknown village,
        in the summer of 2010. It moved us to see, that young children are abused and are made to believe that they are
        creatures that are not entitled to any self respect. **Not any more**.

        **Protsahan India Foundation** aims to create creative platforms of learning and self expression. Empowerment is by
        the means of education. In the first month of our existence, we had taught the little ones how to write their
        names in English & Hindi, A to Z and counting and basic addition & subtraction. They are taught how to make
        greeting cards, canvas sketches, creative jwellery, origami, papier maches etc. during drawing classes. Once in a
        while they are taken for trips to places of historical visit. More than anything, we **encourage** them to learn.

        We welcome you to be a part of Protsahan India Foundation’s family.
