// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/buttons";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";
@import "partials/buttons";

@import "compass/typography/lists/horizontal-list";
nav>ul {
  @include horizontal-list;
}
nav.user {
  float: right;
}

@import "compass/typography/lists/inline-block-list";
ul.items {
  @include inline-block-list(1.5em);
  .image {
    width: 200px;
    height: 200px;
  }
}

.item {
  @include highlight(white);
  margin: 1em;
}
.actions {
  @include horizontal-list-container;
  > .button_to {
    @include horizontal-list-item;
  }
}

.page_title form.button_to {
  @include float-right;
}
